<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<add key="DBResetOnRun" value="true"/>
		<add key="DBPath" value="{project-dir}/DB/PlantControl.db"/>

		<add key="UserAdminUsername" value="admin"/>
		<add key="UserAdminDefaultPassword" value="admin"/>

		<add key="WebServerURL" value="http://localhost:9696/"/>
		<add key="WebServerHTMLPath" value="{project-dir}/HTML"/>
		<add key="WebServerUseRamCache" value="false"/>

		<add key="MicrocontrollerInterfaceType" value="SerialArduinoInterface"/>
		<!--<add key="MicrocontrollerInterfaceType" value="SimulatedArduinoInterface"/>-->

    	<add key="SerialArduinoInterfacePort1" value="/dev/cu.usbmodem1411"/>
    	<add key="SerialArduinoInterfaceDevice1" value="Mega2560"/>
    	<add key="SerialArduinoInterfaceBaudRate" value="9600"/>
		
  	</appSettings>
	   <dllmap dll="sdfsdlibnserial.so.1" target="nserial" />
</configuration>
